@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --PRIMARY: #0b56d1;
    --SECONDARY: #e5f5f4;
    --WHITE: #ffffff;
    --NEWS: #c1bcfc;
  }
}

.hero {
  width: 100vw;
}

.navbar {
  position: absolute;
  transform: translate(50%, -50%);
  top: 5rem;
  right: 50%;
}

.hero-title {
  position: absolute;
  transform: translate(50%, -50%);
  top: 50%;
  right: 50%;
}

.logo img {
  width: 140px;
  height: 140px;
}

.about img {
  width: 407px;
  height: 562px;
}
